*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    font-size: 14px;
    color: #000;
    background-color: hsl(30, 38%, 92%) ;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size: 14px;
    color: gray; 
    font-weight: 500;
}

.wrapper{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;

    display: flex;
    flex-direction: row;
}
.wrapper .img-wrapper,.content-wrapper{
    width: 50%;
    height: 100%;
    height: 100vh;
    overflow: hidden;
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-wrapper{
    padding: 3rem;
    background-color: hsl(0, 0%, 100%);
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.content-wrapper .content{
    width: 100%;
    height: 70%;
}
.content .perfume{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    letter-spacing: 3.5px;
}
.content h1{
    width: 50%;
    font-size: 3rem;
    margin-bottom: 3rem;
    font-family: 'Fraunces', serif;
}
.content p{
    font-size: 22px;
    width: 50%;
}

.price_tag{
    display: flex;
    flex-direction: row;
}
.price{
    color: hsl(158, 36%, 37%);
    font-size: 3rem;
    margin-right: 1.5rem;
    font-family: 'Fraunces', serif;
}
.price_tag p{
    font-size: 1.25rem;
}
.button{
    width: 100%;
    text-align: center;
    padding: 24px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.button img{
    margin-right: .5rem;
}
.button:hover{
    background-color: hsl(212, 21%, 14%);
}


@media (max-width: 768px){
    .content-wrapper{
        padding: 1.5rem;
    } 
    .content h1{
        width: 100%;
        margin-bottom: 2rem;
    }       
    .content p{
        width: 100%;
    }
}

@media (max-width: 438px){
    .wrapper{
        flex-direction: column;
    }
    .wrapper .img-wrapper,.content-wrapper{
        width: 100%;
    }
    .wrapper .img-wrapper{
        height: 40%;
    }
    .content-wrapper{
        padding: 1rem;
        height: 60%;
    } 
    .content h1{
        width: 100%;
        margin-bottom: 1rem;
        font-size: 2.2rem;
    }       
    .content p{
        width: 100%;
        font-size: 1.05rem;
    }
    .content .perfume{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .price_tag{
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
    .price{
        font-size: 2rem;
    }
}